DATABASE_HOST=database_host_name
DATABASE_PORT=databse_port
DATABASE_NAME=database_name
DATABASE_USER=database_user
DATABASE_PASSWORD=database_password
APP_ENV=app_envirenment
API_URL=api_url_for_frontend
BACKEND_IMAGE=backend_image_name
FRONTEND_IMAGE=frontend_image_name